.news__wrapper {
  max-width: 100%;
  width: var(--content-max);
  margin-inline: auto;
  padding: 128px var(--content-pad);
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  --gap-small: var(--space-2);
  --gap-big: 16px;
}
.news__wrapper.article_list {
  gap: var(--space-7);
}
@media (min-width: 600px) {
  .news__wrapper {
    width: var(--content-max-wide);
    padding-inline: var(--content-pad-wide);
    gap: var(--space-4);
    --gap-small: var(--space-4);
    --gap-big: 32px;
  }
}
@media (min-width: 900px) {
  .news__wrapper {
    --gap-big: 64px;
  }
}

.news__text_width {
  max-width: 100%;
  width: var(--content-max);
  margin-inline: auto;
  /* padding: var(--space-4) var(--content-pad); */
  /* gap: var(--space-2); */
}
@media (min-width: 80px) {
  .news__text_width {
    width: var(--content-max-semi-wide);
    padding-inline: var(--content-pad-semi-wide);
    gap: var(--space-4);
  }
}

section.markdown_wrapper > * {
  --margin-be: 1rem;
  margin-block-end: var(--margin-be);
}

section.markdown_wrapper h1,
section.markdown_wrapper h2,
section.markdown_wrapper h3,
section.markdown_wrapper h4,
section.markdown_wrapper h5,
section.markdown_wrapper h6 {
  --size-mul: 0.4;
  margin-block-start: 2rem;

  font-weight: bold;
  line-height: 1.12;
  letter-spacing: 0.01em;
  font-size: calc(var(--size-mul) * var(--text-titel));
}
section.markdown_wrapper h1 {
  --size-mul: 1;
  margin-block-start: 5rem;
}
section.markdown_wrapper h2 {
  --size-mul: 0.8;
  margin-block-start: 5rem;
}
section.markdown_wrapper h3 {
  --size-mul: 0.6;
  margin-block-start: 3rem;
}
section.markdown_wrapper h4 {
  --size-mul: 0.5;
  margin-block-start: 2rem;
}



.news__wrapper ul {
  list-style-position: inside;
  padding: 0;
  list-style: none;
  list-style-type: none;
}
.news__wrapper li {
  position: relative;
  padding-inline-start: clamp(1.5rem, 5vw, 2rem);
  margin-block-end: var(--margin-be);
}
.news__wrapper li::before {
  content: "* ";
  position: absolute;
  top: -0.6rem;
  left: 0rem;
  font-size: clamp(2rem, 5vw, 2.4rem);
  font-weight: bold;
  color: inherit;
}

.news__wrapper blockquote {
  font-style: italic;
  background: var(--color-neon);
  color: var(--color-purple);
  padding: 2rem;
  margin-inline: -2rem;
  /* font-size: 0; */
}

.news__wrapper p {
  text-wrap: pretty;
  /* font-size: var(--text-body); */

  --img-shadow-color: var(--color-neon);
}

/* .pressAndNewsItemSection:hover {
  text-decoration: underline;
} */
.headlineAndImage {
  position: relative;
}
.teaserImageInHeadingWrapper {
  position: relative;
  margin: -8px;
  z-index: 0;
  width: calc(100% + 16px);
}
.teaserImageInHeadingWrapper:before {
  content: '';
  background: var(--img-shadow-color);
  position: absolute;
  inset: 0;
  transform: translate(-8px, 8px) rotate(-2deg);
  transition: transform 0.1s ease;
  z-index: 1;
}
.pressAndNewsItemSection:hover .teaserImageInHeadingWrapper:before {
  transform: translate(-12px, 12px) rotate(-2deg);
}

.teaserImageInHeadingWrapper img {
  position: relative;
  z-index: 2;
  width: 100%;
  height: auto;
  border: 1px solid var(--img-shadow-color);
}
.teaserImageInHeadingWrapper .headline {
  position: relative;
  z-index: 3;
}

.headlineAndImage .headline.hasImage {
  margin-block-start: -12px;
}
@media (min-width: 600px) {
  .headlineAndImage .headline.hasImage {
    margin-block-start: -48px;
  }
  .teaserImageInHeadingWrapper {
    margin: 32px;
    width: 80%;
  }
  .teaserImageInHeadingWrapper:before {
    transform: translate(-16px, 16px) rotate(-2deg);
  }
  .pressAndNewsItemSection:hover .teaserImageInHeadingWrapper:before {
    transform: translate(-24px, 24px) rotate(-2deg);
  }
}
