.pages__wrapper {
  max-width: 100%;
  width: var(--content-max);
  margin-inline: auto;
  padding: 128px var(--content-pad);
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  --gap-small: var(--space-2);
  --gap-big: 16px;
}
@media (min-width: 600px) {
  .pages__wrapper {
    width: var(--content-max-wide);
    padding-inline: var(--content-pad-wide);
    gap: var(--space-4);
    --gap-small: var(--space-4);
    --gap-big: 32px;
  }
}
@media (min-width: 900px) {
  .pages__wrapper {
    --gap-big: 64px;
  }
}

.pages__text_width {
  width: 100%;
  /* margin-inline: auto; */
  gap: var(--space-2);
}
@media (min-width: 80px) {
  .pages__text_width {
    /* width: var(--content-max-semi-wide); */
    /* padding-inline: var(--content-pad-semi-wide); */
    gap: var(--space-4);
  }
}

.hero_linear.hasImage {
  display: flex;
  flex-direction: column-reverse;
}
.headerimage {
  width: 100%;
  height: auto;
  transform: rotate(-2deg);
  object-fit: cover;
}
@media (min-width: 800px) {
  .hero_linear.hasImage {
    flex-direction: row;
  }
  .headerimage {
    width: 50%;
  }
}
